<tr>
   <td>Req #<%= service_request.id %></td>
	 <td><%= service_request.city %></td>
  	<td><%= service_request.date %></td>
  	<td><%= service_request.start_time.nil? ? service_request.start_time : service_request.start_time.to_s(:timings) %></td>
  	<td><%= service_request.end_time.nil? ? service_request.end_time : service_request.end_time.to_s(:timings) %></td>
  	<td><%= service_request.language %></td>
    <!-- Volunteer view -->
  	<% if current_user.is_volunteer %>
      <% if service_request.responded_by(current_user.volunteer) %>
        <% response = ServiceResponse.response_to_request_by(service_request, current_user.volunteer).first %>
        <% if response.response_invalid %>
          <td>
            <div class="dropdown">
              <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Choose an action
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li>
                  <%= link_to "Confirm Availability", update_response_validity_path(id: response.id, response_invalid: false) %>
                </li>
                <li>
                  <%= link_to "Ignore", drop_response_path(service_request_id: service_request), 
              method: :delete %>
                </li>
              </ul>
            </div>
          </td>
          <td>Request edited</td>
        <% else %>
          <td><%= button_to "Undo Confirm", drop_response_path(service_request_id: service_request), 
              method: :delete, data: { confirm: "Are you sure you want to delete your response?" }, class: "btn btn-danger" %></td>
        <% end %>
      <% else %>
        <td><%= button_to "Confirm Availability", build_service_response_path(service_request_id: service_request), class: "btn btn-success" %></td>
      <% end %>
    <!-- Student view -->
  	<% else %>
  		<td>
        <%= link_to "Edit", edit_service_request_path(service_request), class: "btn btn-primary" %> | 
        <%= link_to "Del", service_request, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
      </td>
      <% if service_request.num_responses > 0 %>
        <td><%= link_to "#{pluralize(service_request.num_responses, "Response")} available", service_responses_path(service_request_id: service_request)  %></td>
      <% else %>
        <td></td>
      <% end %>
  	<% end %>
</tr>