<style>
  .checkbox-container label {
    display : inline-block;
    margin-right : 17px;
    margin-bottom : 10px;
  }
</style>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>

      <%= render 'shared/error_messages', object: f.object %>
      

      <%= f.label :fname, "First Name <span class='red'>*</span>".html_safe %>
      <%= f.text_field :first_name, required: true %>

      <%= f.label :lname, "Last Name <span class='red'>*</span>".html_safe %>
      <%= f.text_field :last_name, required: true %>

      <%= f.label :dob, "Date of birth" %>
      <%= f.text_field :dob, class: "datepicker" %>

      <%= f.label :gender, "Gender <span class='red'>*</span>".html_safe  %>

      <div class="checkbox-container">
        
        <%= f.radio_button :gender, "M" %>
        <%= f.label :gender, "Male", value: "M" %>
        
        <%= f.radio_button :gender, "F" %>
        <%= f.label :gender, "Female", value: "F" %>
      </div>

      <%= f.label :email, "Email <span class='red'>*</span>".html_safe %>
      <%= f.text_field :email, required: true %>

      <%= f.label :address, "Door No./Building/Street" %>
      <%= f.text_area :address, size: "5*10" %>

      <%= f.label :city, "City <span class='red'>*</span>".html_safe %>
      <%= f.select :city, options_for_select([["--Select--", ""], ["Chennai", "Chennai"], ["Delhi", "Delhi"], ["Mumbai", "Mumbai"]], selected: @user.city), required: true %>

      <% if @user.is_volunteer %>
        <%= f.label :contact_no, "Phone <span class='red'>*</span>".html_safe %>
        <%= f.telephone_field :contact_no, required: true %>
      <% else %>
        <%= f.label :contact_no, "Phone" %>
        <%= f.telephone_field :contact_no %>
      <% end %>

      <%= render "volunteer_form", v: @volunteer if @user.is_volunteer %>

      <%= f.label :password, "Password <span class='red'>*</span>".html_safe %>
      <%= f.password_field :password, required: true %>

      <%= f.label :password_confirmation, "Confirmation <span class='red'>*</span>".html_safe %>
      <%= f.password_field :password_confirmation, required: true %>
      
      <% if !signed_in? %>
        <%= f.hidden_field :is_volunteer, value: params["is_volunteer"] %>
      <% end %>

      <%= f.submit "Submit", class: "btn btn-primary" %>
      <%= link_to "Cancel", root_path, class: "btn btn-secondary" %>
    <% end %>
  </div>

  <script>
    $(document).ready(function(){
      $('.datepicker').datepicker({
        format: "dd/mm/yyyy"
      });
    });
  </script>

</div>
